i.mce-i-mce-button-shortcode:before {
	font-family: "dashicons";
	font-size: 20px;
	content: "\f546";
}

.mcelb.button {
	background-color: #1e73be;
	border-color: #1e73be;

	&:hover {
		color: #1e73be;
		border-color: #1e73be;
	}
}